body{
    margin: 0px;
}

h1{
    background-color: lightcoral;
    margin: 0px;
    padding: 5px;
    text-align: center;
    font-family: Verdana;
}

/*Display 3D canvas*/
#canvasDisplay{
    border: 5px solid lightcoral;
    width: 1000px;
    height: 850px;
    float: left;
    margin: 10px;
}

#world{
    background-color: mediumpurple;
    border: 5px solid lightcoral;
    height: 410px;
    width: 600px;
    float: left;
    margin: 10px;
}

#person{
    background-color: mediumpurple;
    border: 5px solid lightcoral;
    height: 410px;
    width: 600px;
    float: left;
    margin: 10px;
    flex-wrap: wrap;
    display: flex;

}

#devTests{
    background-color: lightyellow;
    width: 1700px;
    margin: 10px;
    clear: both;
}

.tab_class {
    width: calc(100%/5);
    height: 40px;
    background-color: darkgrey;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
}

.tab_list {
    text-align: right;
}

.list_width {
    width: 100px;
}

/*hide all input elements with name "tab_name"*/
input[name="tab_name"] {
    display: none;
}

/* color of tab which is just after the checked input*/
/* div + p	Selects the first <p> element that is placed immediately after <div> elements*/
input:checked + .tab_class {
    background-color: cadetblue;
    color: aliceblue;
}

/*Hide all contents elements*/
.content_class {
    display: none;
    width: 100%;
}

/*Show the content which is just after the checked input*/
input:checked + .tab_class + .content_class {
    display: block;
}