body{
    margin: 0px;
    background-color: black;
    font-family: Calibri;
    font-size: 20px;
}

h1{
    background-color: black;
    margin-bottom: 20px;
    padding: 5px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    border-color: white;
    border-bottom-style: double;
}



/*Display 3D canvas*/
#canvasDisplay{
    width: 1200px;
    height: 850px;
    float: left;
    margin: 10px;
    border-color: white;
    border-style: solid;
}

#Options{
    margin-left: 10px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

#world{
    background-color: #00a85a;
    border-color: white;
    border-style: solid;
    height: 410px;
    width: 600px;
    float: left;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

#person{
    border-color: white;
    border-style: solid;
    height: 414px;
    width: 600px;
    float: left;
    margin: 10px;
    flex-wrap: wrap;
    display: flex;

}

.tabPerson {
    width: calc(100%/4.53);
    height: 40px;
    background-color: darkgrey;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
}

#tabCreaturesText {
    text-align: right;
    width: 70px;
}

#listPerson {
    width: 100px;
}

/* hide all input elements with name "radioPerson" */
input[name="radioPerson"] {
    display: none;
}

/* color of tab which is just after the checked input */
/* div + p	selects the first <p> element that is placed immediately after <div> elements */
input:checked + .tabPerson {
    background-color: black;
    color: aliceblue;
}

/* Hide all contents elements */
.canvasShowHide {
    display: none;
    width: 100%;
}

/*Show the content which is just after the checked input*/
input:checked + .tabPerson + .canvasShowHide {
    display: block;
}

.tabWorld {
    width: calc(100%/5);
    height: 40px;
    background-color: darkgrey;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
    z-index: 10;
}

input[name="radioWorld"]{
    display: none;
}

input:checked + .tabWorld {
    background-color: black;
    color: aliceblue;
}



input:checked + .tabWorld + .divShowHide{
    display: block;
}

.divShowHide {
    display: none;
    width: 100%;
    margin-top: 50px;
    position: relative;
    bottom: 65px;
}

#tableWorldEtat {
    border-collapse: collapse;
    border: 1px solid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 80px;
}

tr, td {
    border: 1px solid;
    background-color: lightgreen;
}
tbody{
    border: 5px double;
}

#WorldTypeList{
    width: 190px;
    /*height: 30px;*/
    background-color: white;
    border-color: white;
    color: black;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    order: -1;
}

#skipCounter{
    width: 50px;
}


img{
    height: 100px;
    width: 750px;
}
#divCam{
    text-align: right;
}

#camera{
    width: 24px;
    height: 24px;
    background-color: transparent;
    vertical-align: -7px;

}
#SwitchCameras{
    background-color: transparent;
    border: none;
}
#SwitchCameras:hover{
    cursor: pointer;
}
p{
    text-align: center;
}
h3{
    text-align: center;
}

#cyclesNumber{
    display: inline;
}

#textEngine{
    display:none;
}

footer{
    position: absolute;
    color: white;
    bottom: -145px;
    left: 30px;
}
#WorldType > p{
    margin: 0px;
}

#societyDescription{
    text-align: left;
    padding: 0 12px;
}

a{
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

a:hover{
    color: #00a85a;
}

#links{
    text-align: center;
    margin-top: -7px;
    margin-bottom: 7px;
}


/*CSS pour main page*/
#description-page {
    color: white;
}
#description-page ul {
    list-style: none;
}
#description-page .container {
    width: 65%;
    margin: 0 auto;
}
#description-page .intro p {

    text-align: left;
}

#description-page h2{
    color: #45CF88;
    border-bottom: 1px solid #45CF88;
}

#description-page .page-title{
    color: #FBFE00;
    border-bottom: 1px solid #FBFE00;
    text-align: left;
    font-size: 1.2em;
}
#description-page .page-title:hover {
    color: white;
    border-bottom: 1px solid white;
}

#description-page .teams {
    display: flex;
    gap: 30px;
}

#description-page .team-title  {
    border-bottom: 1px solid white;
}

#description-page .two-pages {
    display: flex;
}

#description-page .two-pages p {
    text-align: left;
}

#description-page a {
    text-decoration: none;
}
